/*-------------------------------------------------------------------- tonejs included css ------------------------------------------------------------------------------*/

#Content {
  position: right;
  float:right;
  left: 0px;
  width: 50%;

  margin-top:15px;
  margin-bottom: 15px;
  margin-right:80px;}
  #Content #Title {
    height: 23px;
    line-height: 23px;
    font-size: 1.2em;
    color: white;
    width: calc(100% - 15px);
    padding-left: 15px;
    background-color: black; }
  
  #Content #DragContainer {
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 15px;
    width: calc(100% - 3px);
    height: 400px;
    position: relative;
    color: white; }
  #Content .Slider.x {
    position: relative;
    height: 94px;
    width: 100%;
    margin-top: 3px; }
    #Content .Slider.x .Axis {
      top: 50%;
      margin-top: -1.5px; }
  #Content .Slider.y {
    position: relative;
    width: 94px;
    height: 400px; }
    #Content .Slider.y .Axis {
      left: 50%;
      margin-left: -1.5px; }
  #Content .Dragger {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #999999;
    border-radius: 25%;
    z-index: 1;
    margin-top: -2px;
    border: none;
    top:37%;
    cursor: -webkit-grab; }
    #Content .Dragger #Name {
      display: none;}
  #Content .Dragger:hover {
    background-color: ;
    color:; }
  #Content .Dragger.is-pointer-down {
    cursor: -webkit-grabbing;
    background-color: #333; }
  #Content .Axis {
    position: absolute;
    background-color: #c8c8c8;
    width: 3px;
    height: 15px;
    top: 3px;
    left: 3px;
    border-radius: 1.5px;
    z-index: 0; }
  #Content #xAxis {
    width: calc(100% - 6px); }
  #Content #yAxis {
    height: calc(100% - 6px); }
  #Content .Button {
    width: 94%;
    background-color: #e7e7e7;
    border: 1px solid #999;
    font-weight: bold;
    margin: auto;
    height: 60px;
    line-height: 60px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;}
  #Content .Button:hover {
    color: white;
    background-color: rgba(153, 153, 153, 0.6); }
  #Content .Button:hover:active, #Content #Content .Button:hover:active.Active {
    color: #999999 }
  #Content .Button.Toggle.Active {
    color: black;
    font-weight: bold;
    background-color: rgba(153, 153, 153, 0.6); }
  #Content .Transport {
    width: 100%;
    height: 30px;
    background-color: black;
    line-height: 30px;
    color: white;
    border-radius: 10px;
    margin-top: 3px;
    position: relative; }
   #Content .Transport #Position {
     width: 70px;
     left: 50%;
     margin-left: -35px;
     text-align: left;
     height: 100%;
     position: absolute;
	 color: white; }

/* -------------------------------------------end tonejs css ---------------------------------------------------------*/
